@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@font-face {
  font-family: "Snell";
  src: url("/static/fonts/snell.eot");
  src: url("/static/fonts/snell.woff2") format("woff2"),
    url("/static/fonts/snell.woff") format("woff"),
    url("/static/fonts/snell.svg#snell") format("snell"),
    url("/static/fonts/snell.ttf") format("truetype"),
    url("/static/fonts/snell.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Sans TC", NotoSansCJKtc, sans-serif;
}
html,
body {
  width: 100%;
}
#root {
  overflow-x: hidden;
}
html {
  font-size: 16px;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
a {
  text-decoration: none;
}
div,
span {
  font-weight: 300;
  letter-spacing: 1px;
}
.header-1 {
  font-size: 1.5rem;
  font-family: "Snell";
  margin: 20px 0;
  font-weight: 400;
  letter-spacing: 2.5px;
}
html[data-browser*="Edge"] .header-1 {
  font-weight: 600;
}
.header-2 {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 2.5px;
}
.sub-header {
  color: #b5b5b5;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  font-family: "Snell";
  font-style: italic;
}
html[data-browser*="Edge"] .sub-header {
  font-weight: 600;
}
.sub-header.line {
  position: relative;
  text-align: center;
}
.sub-header.line span {
  font-family: "Snell";
  font-style: italic;
  background: transparent;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
html[data-browser*="Edge"] .sub-header.line span {
  font-weight: 600;
}
.sub-header.line span::after,
.sub-header.line span::before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.sub-header.line span::after {
  right: -40px;
}
.sub-header.line span::before {
  left: -40px;
}
.main-color {
  color: #dfb946;
}
.dark-main-color {
  color: #dfb946;
}
.primary-button {
  background-color: #dfb946;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-weight: 300;
}
.primary-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.second-button {
  background-color: #0d3346;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-weight: 300;
}
.second-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-0 {
    display: block !important;
    width: calc(0 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-0 {
    margin-left: calc(0 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-1 {
    display: block !important;
    width: calc(1 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-1 {
    margin-left: calc(1 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-2 {
    display: block !important;
    width: calc(2 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-2 {
    margin-left: calc(2 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-3 {
    display: block !important;
    width: calc(3 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-3 {
    margin-left: calc(3 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-4 {
    display: block !important;
    width: calc(4 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-4 {
    margin-left: calc(4 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-5 {
    display: block !important;
    width: calc(5 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-5 {
    margin-left: calc(5 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-6 {
    display: block !important;
    width: calc(6 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-6 {
    margin-left: calc(6 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-7 {
    display: block !important;
    width: calc(7 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-7 {
    margin-left: calc(7 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-8 {
    display: block !important;
    width: calc(8 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-8 {
    margin-left: calc(8 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-9 {
    display: block !important;
    width: calc(9 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-9 {
    margin-left: calc(9 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-10 {
    display: block !important;
    width: calc(10 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-10 {
    margin-left: calc(10 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-11 {
    display: block !important;
    width: calc(11 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-11 {
    margin-left: calc(11 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-12 {
    display: block !important;
    width: calc(12 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-12 {
    margin-left: calc(12 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-13 {
    display: block !important;
    width: calc(13 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-13 {
    margin-left: calc(13 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-14 {
    display: block !important;
    width: calc(14 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-14 {
    margin-left: calc(14 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-15 {
    display: block !important;
    width: calc(15 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-15 {
    margin-left: calc(15 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-16 {
    display: block !important;
    width: calc(16 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-16 {
    margin-left: calc(16 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-17 {
    display: block !important;
    width: calc(17 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-17 {
    margin-left: calc(17 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-18 {
    display: block !important;
    width: calc(18 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-18 {
    margin-left: calc(18 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-19 {
    display: block !important;
    width: calc(19 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-19 {
    margin-left: calc(19 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-20 {
    display: block !important;
    width: calc(20 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-20 {
    margin-left: calc(20 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-21 {
    display: block !important;
    width: calc(21 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-21 {
    margin-left: calc(21 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-22 {
    display: block !important;
    width: calc(22 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-22 {
    margin-left: calc(22 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-23 {
    display: block !important;
    width: calc(23 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-23 {
    margin-left: calc(23 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-24 {
    display: block !important;
    width: calc(24 / 24 * 100%) !important;
  }
}
@media (max-width: 480px) {
  .ant-col-phone-offset-24 {
    margin-left: calc(24 / 24 * 100%) !important;
  }
}
.ant-carousel .slick-slide {
  background-color: transparent !important;
}
.qa-editor__html-style p {
  margin-bottom: 0 !important;
}
